NODE_ENV=development
PORT=3000
DATABASE_URL=mongodb://127.0.0.1:27017
MONGODB_DATABASE=cloverapp
APP_ENCRYPTION_KEY_BASE64=replace_with_32_byte_base64_key
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=change_me_now
BOOTSTRAP_ADMIN_DISPLAY_NAME=System Admin

CLOVER_API_BASE_URL=https://api.clover.com
CLOVER_TOKEN_API=https://token.clover.com
CLOVER_ECOMMERCE_API=https://scl.clover.com
CLOVER_MERCHANT_ID=
CLOVER_MERCHANT_NAME=
CLOVER_AUTH_CODE=
CLOVER_API_TOKEN=
CLOVER_API_KEY=
CLOVER_PRIVATE_TOKEN=
CLOVER_APP_ID=
CLOVER_APP_SECRET=
CLOVER_RAID=

PAYPAL_API_BASE_URL=https://api-m.paypal.com
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_NVP_BASE_URL=https://api-3t.paypal.com/nvp
PAYPAL_NVP_USERNAME=
PAYPAL_NVP_PASSWORD=
PAYPAL_NVP_SIGNATURE=
PAYPAL_API_USERNAME=
PAYPAL_API_PASSWORD=
PAYPAL_API_SIGNATURE=

PAYPAL_MANAGER_BASE_URL=https://pilot-payflowpro.paypal.com
PAYPAL_MANAGER_PARTNER=PayPal
PAYPAL_MANAGER_VENDOR=
PAYPAL_MANAGER_USER=
PAYPAL_MANAGER_PASSWORD=

FLUIDPAY_ENV=sandbox
FLUIDPAY_API_BASE_URL=https://sandbox.fluidpay.com
FLUIDPAY_API_KEY=
FLUIDPAY_PROCESSOR_ID=
FLUIDPAY_TIMEOUT_MS=180000

GLOBALPAYMENTS_ENV=sandbox
GLOBALPAYMENTS_API_MODE=ucp
GLOBALPAYMENTS_API_BASE_URL=https://apis.sandbox.globalpay.com/ucp
GLOBALPAYMENTS_APP_ID=
GLOBALPAYMENTS_APP_KEY=
GLOBALPAYMENTS_PUBLIC_API_KEY=
GLOBALPAYMENTS_SECRET_API_KEY=
GLOBALPAYMENTS_MERCHANT_ID=
GLOBALPAYMENTS_SITE_ID=
GLOBALPAYMENTS_DEVICE_ID=
GLOBALPAYMENTS_WEBSITE=
GLOBALPAYMENTS_KEY_TYPE=
GLOBALPAYMENTS_DEVELOPER_ID=000000
GLOBALPAYMENTS_VERSION_NUMBER=0000
GLOBALPAYMENTS_ACCOUNT_NAME=Transaction_Processing
GLOBALPAYMENTS_CHANNEL=CNP
GLOBALPAYMENTS_COUNTRY=US
GLOBALPAYMENTS_API_VERSION=2021-03-22
GLOBALPAYMENTS_TIMEOUT_MS=180000

PROPELRPAY_API_BASE_URL=
PROPELRPAY_API_KEY=
PROPELRPAY_BASIC_AUTH=
PROPELRPAY_AUTH_USERNAME=
PROPELRPAY_AUTH_PASSWORD=
PROPELRPAY_USERNAME=
PROPELRPAY_PASSWORD=
PROPELRPAY_MERCHANT_ID=
PROPELRPAY_MERCHID=
PROPELRPAY_UAT_MID=
PROPELRPAY_AUTH_HEADER=Authorization
PROPELRPAY_AUTH_SCHEME=Basic
PROPELRPAY_TIMEOUT_MS=180000
PROPELRPAY_SALE_PATH=
PROPELRPAY_AUTH_PATH=
PROPELRPAY_VERIFY_PATH=
PROPELRPAY_CAPTURE_PATH=
PROPELRPAY_REFUND_PATH=
PROPELRPAY_VOID_PATH=
PROPELRPAY_TRANSACTION_PATH=
PROPELR_API_BASE_URL=
PROPELR_API_KEY=
PROPELR_BASIC_AUTH=
PROPELR_AUTH_USERNAME=
PROPELR_AUTH_PASSWORD=
PROPELR_USERNAME=
PROPELR_PASSWORD=
PROPELR_MERCHANT_ID=
PROPELR_MERCHID=
PROPELR_UAT_MID=
PROPELR_AUTH_HEADER=Authorization
PROPELR_AUTH_SCHEME=Basic
PROPELR_TIMEOUT_MS=180000
PROPELR_SALE_PATH=
PROPELR_AUTH_PATH=
PROPELR_VERIFY_PATH=
PROPELR_CAPTURE_PATH=
PROPELR_REFUND_PATH=
PROPELR_VOID_PATH=
PROPELR_TRANSACTION_PATH=

BURP_PROXY_ENABLED=false
BURP_PROXY_URL=http://127.0.0.1:8080
BURP_PROXY_SCOPE_HOSTS=
BURP_PROXY_ALLOW_INSECURE_TLS=false
BURP_RESPONSE_OVERRIDES_ENABLED=false
BURP_RESPONSE_OVERRIDES_FILE=

RAPIDAPI_BIN_CHECKER_HOST=bin-ip-checker.p.rapidapi.com
RAPIDAPI_BIN_CHECKER_URL=https://bin-ip-checker.p.rapidapi.com/
RAPIDAPI_BIN_CHECKER_KEY=

PRIMARY_PROVIDER=TWILIO
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
TWILIO_TWIML_URL=
TWILIO_VERIFY_SERVICE_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_TWIML_APP_SID=
TWILIO_DEFAULT_CALLER_ID=
VOICE_GATEWAY_PROVIDER=TELNYX
TELNYX_API_KEY=
TELNYX_PHONE_NUMBER=
TELNYX_CONNECTION_ID=
TELNYX_WEBHOOK_URL=
