NODE_ENV=production
PORT=3000
DATABASE_URL=jdbc:sqlite:/Users/akifdemir/Library/DBeaverData/workspace6/.metadata/sample-database-sqlite-1/Chinook.db
APP_ENCRYPTION_KEY_BASE64=replace_with_32_byte_base64_key
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=change_me_now
BOOTSTRAP_ADMIN_DISPLAY_NAME=System Admin

CLOVER_API_BASE_URL=https://api.clover.com
CLOVER_MERCHANT_ID=
CLOVER_API_KEY=
CLOVER_APP_ID=
CLOVER_APP_SECRET=
CLOVER_RAID=

PAYPAL_API_BASE_URL=https://api-m.paypal.com
PAYPAL_CLIENT_ID=AUR1Jfdpzt9L8avDPALRHwyMVDo5k_s97sJXfBPGapuzT-PEJH8OAKOrFaw4yPc7M5A4dok5rKjbHAGy
PAYPAL_CLIENT_SECRET=EMVtPBjImrGi9k6nqKcXNTvNvBqSmVQAQ2cBhAJEiNo8_F_SwAkI0fPvts9ZkrgQJ22izWgO6uFxkt0F
